@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Global */
@import './global/global.css';
/* Header */
@import './global/header.css';
/* Footer */
@import './global/footer.css';
/* Componentes */
@import './utilidades/componentes.css';
/* Cores */
@import './utilidades/cores.css';

.rapid-item {
  align-items: center;
  background-color: #fff;
  width: 180px;
  height: 200px;
  border: 2px solid black;
}
