@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Global */
@import './global/global.css';
/* Header */
@import './global/header.css';
/* Footer */
@import './global/footer.css';
/* Componentes */
@import './utilidades/componentes.css';
/* Cores */
@import './utilidades/cores.css';
/* Tipografia */
@import './utilidades/tipografia.css';
/* Animação */
@import './utilidades/animacao.css';
/* Tela de Login */
@import './login/login.css';
/* Home | Banner */
@import './home/banner.css';
/* Home | Acesso Rápido */
@import './home/links.css';
/* Home | Destaque */
@import './home/destaque.css';
/* Comando */
@import './comando/comando.css';
/* Galeria de Fotos */
@import './galeria/galeria.css';
/* Endereços */
@import './enderecos/enderecos.css';

.rapid-item {
  align-items: center;
  background-color: #fff;
  width: 180px;
  height: 200px;
  border: 2px solid black;
}
