.container {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .botao {
    display: inline-block;
    padding: 12px 30px;
    background: linear-gradient(#A9161C, #7E1E07);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: var(--cor-0);
    font-size: 18px;
    line-height: 1.33;
    font-weight: bold;
    font-family: 'Poppins';
    font-weight: 600;
    max-width: max-content;
    border: none;
    cursor: pointer;
  }
  .botao:hover {
    background: linear-gradient(#a11419, #721c06 );
  }
  .botao.secundario {
    background: var(--cor-10);
    color: var(--cor-2);
  }
  
  .botao.seta {
    display: flex;
    align-items: center;
  }
  .botao.dejem {
    border-radius: 0px 4px 4px 0px;
    margin: 0;
  }
  .botao.login {
    padding: 1px 20px;
    background: transparent;
    border: 1px solid var(--cor-0);
  }
  .botao.login:hover {
    background: var(--cor-1);
    border: 1px solid var(--cor-1);
    color: var(--cor-10);
  }

  .botao.seta::after {
    content: '';
    display: inline-block;
    width: 18px;
    height: 10px;
    margin-left: 12px;
    background: url('../../img/icones/seta.svg');
    transition: transform 0.2s;
  }
  .botao.seta:hover::after {
    transform: translateX(4px);
  }
  .botao.secundario:hover {
    background-color: var(--cor-9);
  }
  /* titulo internas */
  .titulo-bg {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--cor-11);
  }
  .titulo {
    background: url(../../img/dec/top-right.svg) no-repeat top right 20px;
  }
  .titulo p {
    margin-bottom: 4px;
  }
  @media (max-width: 800px) {
    .titulo-bg {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .titulo p {
      font-size: 1rem;
      text-transform: lowercase;
      font-weight: 400;
    }
  }
  @media (max-width: 600px) {
    .btn {
      padding: 12px 16px;
      font-size: 16px;
    }
  }