.galeria-bg {
  background-color: var(--c12);
  text-align: center;
  padding: 100px 0px;
}
.galeria-bg h1::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 46px;
  margin-right: 10px;
  background-color: var(--c-p2);
}

.box-galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  margin: 32px 0px;
}
.box-foto {
  margin-bottom: 32px;
  position: relative;
  background: transparent;
  box-shadow: 1px 0px 1.2px 0px #e3e3e3;
  transition: 0.3s;
}

.zoom {
  position: absolute;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  font-size: 32px;
  transition: all 0.3s;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  opacity: 0;
  background: hsla(0, 0%, 100%, 0.5);
}

.zoom:hover {
  opacity: 1;
  color: var(--c12);
  transition: 0.3s;
}

/*Responsivo*/
/*600 dividido por 16 = 37,5em*/
@media (min-width: 37em) {
  .box-foto {
    width: 80%;
  }
  .box-foto:nth-of-type(4n + 0) {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .galeria-bg h1:before {
    height: 24px;
    width: 8px;
    margin-right: 6px;
  }
  .galeria-bg {
    padding: 50px 0;
  }
  .box-galeria {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  .box-foto {
    margin-bottom: 0;
  }
}
