.footer-bg {
  background-color: var(--c10);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding-top: 60px;
}

footer:before {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background: linear-gradient(
    180deg,
    rgba(102, 10, 10, 1) 0%,
    rgba(237, 50, 55, 1) 45%,
    rgba(204, 36, 36, 1) 100%
  );
}

.footer h3 {
  margin-bottom: 32px;
}
.footer li {
  margin-bottom: 16px;
}
.footer-contato ul {
  margin-bottom: 32px;
}
.footer-informacoes span {
  display: block;
  height: 36px;
}
.footer-redes {
  display: flex;
  align-items: center;
}
.footer-contato li:nth-child(even):after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background: var(--c9);
  margin-top: 16px;
}

.footer-redes img {
  width: 60%;
}

.footer a:hover {
  color: var(--c0);
}
.footer-copy {
  grid-column: 2;
  margin-top: 40px;
}

.ico-f.ativa {
  transform: rotate(180deg);
  transition: 0.3s;
}
.ico-f {
  transition: 0.3s;
}
.drop-f {
  display: none;
}

@media (max-width: 800px) {
  .footer img {
    display: none;
  }
  .footer {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .footer-copy {
    margin-top: 0;
  }
}
