body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, sans-serif;
  background-color: var(--c1);
}
a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p,
blockquote,
dd,
ul {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
[src$='.jpg'],
[src$='.jpeg'] {
  border-radius: 4px;
}
.txt-s {
  text-align: start;
}
.txt-c {
  text-align: center;
}
.txt-e {
  text-align: end;
}
.txt-j {
  text-align: justify;
}
