body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  h1,
  h2,
  h3,
  p,
  blockquote,
  dd,
  ul {
    margin: 0;
  }
  ul {
    padding: 0;
    list-style: none;
  }
  img {
    max-width: 100%;
    display: block;
  }
  [src$='.jpg'] {
    border-radius: 4px;
  }