.destaque-bg {
  background-color: var(--c11);
  height: 380px;
  margin-bottom: 120px;
  /* box-shadow: inset 40px 80px var(--c1); */
}
.emphasis h1 {
  padding-bottom: 60px;
  text-align: center;
}
.emphasis h1::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 46px;
  margin-right: 10px;
  background-color: var(--c-p2);
}
.destaque {
  padding-top: 32px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.destaque-item {
  display: grid;
  justify-items: center;
  align-items: center;
}

.destaque-item img {
  max-width: 150px;
  border-radius: 4px;
  margin-bottom: 8px;
  box-shadow: -2px 2px 0px 0px var(--c-p3);
  height: 200px;
}
.destaque-item a {
  margin-top: 8px;
}

@media (max-width: 800px) {
  .emphasis h1::before {
    height: 24px;
    width: 8px;
    margin-right: 6px;
  }
}
@media (max-width: 1090px) {
  .destaque {
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .destaque-bg {
    height: 1000px;
    margin-bottom: 60px;
  }
  .destaque {
    justify-content: center;
    gap: 32px;
  }
  .botao.secundario {
    padding: 12px 18px;
  }
  .emphasis h1 {
    padding-bottom: 20px;
  }
}
