.links-bg {
  background-color: var(--c12);
  text-align: center;
  padding: 100px 0px;
}
.links-bg h1::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 46px;
  margin-right: 10px;
  background-color: var(--c-p2);
}
.links-shadow {
  box-shadow: inset 0 80px var(--c12);
}
.links-shadow-2 {
  margin-top: 32px;
  padding-bottom: 120px;
}
.links {
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
  justify-content: space-between;
}

.links-bg ::after {
  content: url(../img/dec/top-right.svg);
  position: absolute;
  right: 134px;
}

.links-item {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  background-color: #fff;
  width: 160px;
  height: 180px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 4px solid transparent;
  box-shadow: 0 4px 20px 2px rgba(43, 43, 43, 0.05);
  transition: 0.2s;
}
.links-item p {
  text-align: center;
}
.links-item:hover {
  border-color: rgba(0, 0, 0, 0.075);
  transition: 0.2s;
}

@media (max-width: 800px) {
  .links-bg h1::before {
    height: 24px;
  }
  .links-bg ::after {
    display: none;
  }
}
@media (max-width: 600px) {
  .links-bg {
    padding: 50px 0;
  }
  .links-bg h1::before {
    height: 24px;
    width: 8px;
  }
  .links-item {
    height: 160px;
    box-sizing: content-box;
  }
  .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .links a:nth-last-child(2) {
    display: none;
  }
  .links-shadow-2 {
    padding-bottom: 60px;
  }
}
