.shield h1 {
  text-align: center;
  position: relative;
}

.shield h1::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 46px;
  margin-right: 10px;
  background-color: var(--c-p2);
}

@media (max-width: 600px) {
  .shield h1::before {
    height: 24px;
    width: 8px;
    margin-right: 6px;
  }
}
