#video{
  display: block;
  height: 560px;
  width: 100vw;
  object-fit: cover;
  margin-left: 330px;
  margin-right: 310px;
  box-sizing: border-box;
}
.background-video {
  background-color: var(--c12);
  padding: 0;
  margin: 0;
  display: block;
}